.theme-settings button {
  font-family: "Poppins", sans-serif;
  background-color: cadetblue;
  color: #f0f0f0;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 2rem;
  font-size: 24px;
}

.settings {
  min-height: calc(100vh - 126px);
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2rem;
}
